<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Relatorio de Bate-Papo Professor</title>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">
<link rel="stylesheet" type="text/css" href="../../css/jquery-ui.css">
<link rel="stylesheet" type="text/css"
	href="../../css/dataTables.jqueryui.min.css">
<link rel="stylesheet" type="text/css"
	href="../../css/jquery.dynatable.css">
<link rel="stylesheet" type="text/css" href="../../css/menu.css">
<link rel="stylesheet" type="text/css" href="../css/list.css">
</head>

<!--  API's Globais -->
<script src="../../js/jquery-2.2.3.min.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/jquery.json.min.js"></script>
<script src="../../js/dataTables.jqueryui.min.js"> </script>
<script src="../../js/TagarelasPrototype.js"> </script>

<!-- Controllers -->
<script src="../js/controller/ReportProfessorController.js"></script>
<script src="../js/controller/ScreenController.js"></script>
<script src="../js/controller/CalculoController.js"></script>
<script src="../js/controller/GraficoController.js"></script>
<script src="../js/controller/MessageController.js"></script>

<!-- Models -->
<script src="../js/model/MockDataModel.js"></script>
<script src="../js/model/ReportProfessorMessagesModel.js"></script>
<script src="../js/model/ArrayToJSONModel.js"></script>
<script src="../js/model/PrepareArrayDataModel.js"></script>
<script src="../js/model/LogConversaModel.js"></script>

<!-- Google Graphics -->
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>

<!--  Scripts básicos da página -->
<script>
/** 
 * Carrega a controller do relatorio
 */

 $(function() {
     /**
	  * Carrega o DOM do google chart.
      * ==============================
	  **/
	  
	 if ((typeof google === 'undefined') || (typeof google.visualization === 'undefined')) {
			google.charts.load('current', {'packages':['corechart','bar']});			 
	 }

	 /*
	   Executa a chamada do objeto principai.
      ======================================
	 */
	 reportProfessorController = new ReportProfessorController();
	  
	 doChangeGrafico= function(e){
	 	reportProfessorController.doShowGrafico(e.value);
	 }

     /* limpa a tela de mensagem antes de continuar e carrega a tela de processamento */
     new ScreenController().hideAll();
     $("#divProcessamento").show();
	 $("#msgProcessamento").hide();
});

 jQuery(document).ready(function() {
	    jQuery('.toggle-nav').click(function(e) {
	        jQuery(this).toggleClass('active');
	        jQuery('.menu ul').toggleClass('active');
	 
	        e.preventDefault();
	    });
});

 </script>

<body>

	<nav class="menu">
		<ul class="active">
			<li><a href="#" id="telaInicial"   title="Retorna a tela Inicial">Tela Inicial</a></li>
			<li><a href="#" id="processamento" title="Processamento de arquivos de conversas">Processamento</a></li>
			<li><a href="#" id="resultado"     title="Apresenta a planilha de resultados">Resultados </a></li>
			<li><a href="#" id="analise"       title="Apresenta a análise de produção de resultados">Analise da Produção de
					Mensagens </a></li>
			<li><a href="#" id="graficos"      title="Gráficos de Resultados">Gráficos</a></li>
			<li><a href="#" id="gerarPdf"      title="Gerar PDF com o relatório completo dos arquivos de conversas">Gerar PDF</a></li>
		</ul>

		<a class="toggle-nav" href="#">&#9776;</a>
<!--  
    <form class="search-form">
        <input type="text">
        <button>Search</button>
    </form>\
 -->
	</nav>
	<p></p>

	<div id="divProcessamento">
		<h3>Informe para iniciar o processamento:</h3>
		<div id="msgProcessamento">
			<font color="green">Processamento concluido. As demais opções
				foram liberadas.</font>
		</div>
		<br />

		<table>
			<tr>
				<td>Informe o arquivo conversa desejado:</td>
				<td width="200px"><select id="selectLog">
						<option default value="">Selecione</option>
						<option value="">==========</option>
						<option value="cderj01">CDERJ01</option>
						<option value="cderj02">CDERJ02</option>
						<option value="cderj03">CDERJ03</option>
						<option value="cderj04">CDERJ04</option>
						<option value="cderj05">CDERJ05</option>
				</select></td>
			</tr>

			<tr>
				<td>Tema da Aula:</td>
				<td><input type="text" size="50px" id="temaAula" /></td>
			</tr>

			<tr>
				<td>Data:</td>
				<td><input type="date" id="diaAula" /></td>
			</tr>

			<tr>
				<td>Tutor Moderador:</td>
				<td><input type="text" size="50px" id="tutor" /></td>
			</tr>

			<tr>
				<td>Alunos Participantes:</td>
				<td><input type="number" id="participantes" /></td>
			</tr>


		</table>

		<p></p>

	<input type="button"  value="Processar dados da conversa" id="doExecuteRelatorio" name="doExecuteRelatorio" />

	</div>

	<div id="divResultado">
		<h3>Tabulação de Resultados</h3>
		<table id="example" class="display" cellspacing="0" width="100%">
		</table>
		<div id="resumo"></div>
	</div>

	<div id="divAnalise">
		<h3>Análise da Produção de Mensagens</h3>
		<br/>
		<table id="tableResumoEntradasSaidas">
			<tr>
				<td width="45%">Cada Participante enviou a seguinte quantidade
					de mensagens:</td>
				<td width="10%"></td>	
				<td width="45%">Cada Participante recebeu a seguinte quantidade
					de mensagens:</td>
			</tr>
			<tr>
				<td>
					<table id="tableEntradas" class="display" cellspacing="0" width="100%">
					</table>
				</td>
				<td width="10%"></td>	
				<td>
					<table id="tableSaidas" class="display" cellspacing="0" width="100%">
					</table>
				</td>
			</tr>
		</table>
		<br/>
	   <div id="mensagensAnalise">Os participantes da sessão de bate-papo
			trocaram um total de xxx mensagens</div>
		<br />  
	</div>

	<div id="divGrafico">
		<h3>Graficos</h3>
		<table>
			<tr>
				<td>Informe o Grafico Desejado.:</td>
				<td><select id="selectGrafico"
					onchange="doChangeGrafico(this);" name="selectGrafico">
						<option default value="-1">Selecione</option>
						<option value="0">==========</option>
						<option value="1">Bolha</option>
						<option value="2">Colunas</option>
						<option value="3">Candelabro</option>
						<option value="4">Pizza</option>
				</select></td>
			</tr>
		</table>
		<br />
		<div id="graficoBolha" style="border: 1px solid #ccc"></div>
		<div id="graficoColuna" style="border: 1px solid #ccc"></div>
		<div id="graficoCandelabro" style="border: 1px solid #ccc"></div>
		<div id="graficoEntradaSaida">
			<table class="columns">
				<tr>
					<td><div id="graficoEntrada" style="border: 1px solid #ccc"></div></td>
					<td><div id="graficoSaida" style="border: 1px solid #ccc"></div></td>
				</tr>
			</table>
		</div>
	</div>



</body>
</html>